.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #C81523;
}
.logo {
    /* 不能对 logo 这个 div 用 margin-top. */
    /*padding-top: 18px;*/
    /* 这里用 行高做, 让其 垂直居中. */
    line-height: 84px;
}

.registerArea {
    height: 522px;
    border: 1px solid #ccc;

    margin-top: 20px;
}

.registerArea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;

    line-height: 42px;
    padding: 0 10px;

    font-size: 18px;
    font-weight: 400;
}

.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #C81523;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border : 1px solid #ccc;
}
.error {
    color: #C81523;
}
.error_icon,
.success_icon {
    /* 垂直居中对齐， margin-top 微调. */
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 3px;

    display: inline-block;
    width: 20px;
    height: 20px;
}
.error_icon {
    background: url(../images/17error.png) no-repeat;
}
.success {
    color: green;
}
.success_icon {
    background: url(../images/18success.png) no-repeat;
}
.safe {
    padding-left: 167px;
    margin-top: -10px;
    margin-bottom: 10px !important;
}
.safe em {
    padding: 0 12px;
}
.safe em:nth-child(1) {
    background-color: #de1111;
}
.safe em:nth-child(2) {
    background-color: #40b83f;
}
.safe em:nth-child(3) {
    background-color: #f79100;
}

.agree {
    margin-left: 91px;
}
.agree input {
    /* checkbox 和 文字 垂直居中对齐 */
    vertical-align: middle;
    margin-right: 5px;
}
.agree  a {
    color: #1ba1e6;
}

.btn {
    margin: 30px 0 0 105px;

    width: 200px;
    height: 34px;
    background-color: #c81623;

    font-size: 14px;
    color: #fff;

    cursor: pointer;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
    color: #666;
}
.copyright {
    line-height: 20px;
}